# Flutter related
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/app/google-services.json

# Web related
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/

# Melos
.melos/
melos_vibekart_flutter.iml
